$debug-background-color: coral;
$debug-background-color2: cyan;
$debug-background-color3: magenta;

.is-debug {
    background-color: $debug-background-color !important;

    .is-debug {
        background-color: $debug-background-color2 !important;

        .is-debug {
            background-color: $debug-background-color3 !important;
        }
    }
}